# Ignore everything
*
# Whitelist all folders/files under weiss2
!weiss2*/
!weiss2*/**
# Whitelist readme.md
!readme.md
# Obviously add in .gitignore
!.gitignore
weiss2.mse-game/devtools/weiss2.mse-installer
weiss2.mse-game/devtools/fonts.zip
